body {
    font-family: Helvetica;
    padding: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
  }

h1{
    font-weight: 600;  
}

form {
    max-width: 600px;
    margin: 0 auto;
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

.sugerencia {
    color: #999;
    font-size: 14px;
    margin-top: 5px;
}

input[type="text"],
input[type="email"],

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
}



input[type="submit"] {
    background: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

form {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}